<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
<title>Wihlo</title>

<link type="text/css" rel="stylesheet" href="/css/graph.css">
<link type="text/css" rel="stylesheet" href="/css/detail.css">
<link type="text/css" rel="stylesheet" href="/css/legend.css">
<link type="text/css" rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<link type="text/css" rel="stylesheet" href="/css/local.css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script> 
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="/javascripts/rickshaw.min.js"></script>

</head>
<body>
<% content %>
</body>
</html>
